<mat-card class="flex w-[260px] h-[385px] pt-8 pl-6 ">
    
     <h1 class="text-ppurpleColor">About</h1>
    <div class="flex flex-row  gap-2">
        <mat-icon class="text-ppurpleColor">person</mat-icon>
        <p class="flex pt-1 text-ppurpleColor">Male</p>
    </div>
    <div class="h-[1px] w-[235px]  bg-borderColor opacity-10"></div>
    <div class="flex flex-row  gap-2 pt-[16px]">
      <img class="w-[24px] h-[24px]" src="../../../assets/icons/cake.png">
        <p class="flex pt-1 text-ppurpleColor">Born June 26, 1980</p>
    </div>
    <div class="h-[1px] w-[235px]  bg-borderColor opacity-10"></div>
    <div class="flex flex-row  gap-2 pt-[16px]">
        <img class="w-[16px] h-[16px]" src="../../../assets/icons/Location.png">
        <p class="flex pt-1 text-ppurpleColor">2239  Hog Camp Road
            Schaumburg</p>
    </div>
    <div class="h-[1px] w-[235px]  bg-borderColor opacity-10"></div>
    <div class="flex flex-row  gap-2 pt-[16px]">
        <img class="w-[16px] h-[15px]" src="../../../assets/icons/Message.png">
        <p class="flex pt-1 text-ppurpleColor">charles5182@ummoh.com</p>
    </div>
    <div class="h-[1px] w-[235px]  bg-borderColor opacity-10"></div>
    <div class="flex flex-row  gap-2 pt-[16px]">
        <img class="w-[16px] h-[15px]" src="../../../assets/icons/Call.png">
        <p class="flex pt-1 text-ppurpleColor">33757005467</p>
    </div>
</mat-card>
