<div class=" container flex flex-row  h-[1186px] w-[241px]  bg-ppurpleColor  justify-center items-start">

    <div class="  flex flex-col pt-7 gap-11 text-whiteColor justify-center items-center ">
        <img class="w-[113px] h-[37.91px]" src="../../../assets/images/Logo and company.png">
        <div class="flex gap-[20px] pt-10">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center flex">
                    <mat-icon>home</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center flex">
                    Home

                </div>
            </div>

        </div>
        <div class="flex gap-[20px] ">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center flex">
                    <mat-icon>person</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center flex">
                    Profile

                </div>
            </div>

        </div>
        <div class="flex gap-[20px] ">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center flex">
                    <mat-icon>message</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center flex">
                    Message

                </div>
            </div>

        </div>
        <div class="flex gap-[20px] ">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center ">
                    <mat-icon>sort</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center ">
                    Purchases

                </div>
            </div>

        </div>
        <div class="flex gap-[20px] ">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center ">
                    <mat-icon>business_center</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center ">
                    Returns

                </div>
            </div>

        </div>
        <div class="flex gap-[20px] ">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center flex">
                    <mat-icon>perm_media</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center flex">
                    Gallery

                </div>
            </div>

        </div>
        <div class="flex gap-[20px] ">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center flex">
                    <mat-icon>assessment</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center flex">
                    Analytics

                </div>
            </div>

        </div>
        <div class="flex gap-[20px]">
            <div class="flex gap-4">
                <div class="text-whiteColor justify-center items-center flex">
                    <mat-icon>settings</mat-icon>
                </div>
                <div class="text-whiteColor justify-center items-center flex">
                    Settings

                </div>
            </div>

        </div>
    </div>
</div>