<div class="container flex justify-center items-center flex-row ">
    <mat-card class="w-[818px] h-[580px] pt-[35px] flex p-[20px] xl:w-[500px] lg:w-[600px] md:w-[570px] sm:w-[270px]  ">
        <mat-card-actions class="gap-[20px] w-[383px] h-[41px] text-ppurpleColor  ">
            <button md-button>Followers</button>
            <button md-button>Following</button>
            <button md-button class="font-bold">Posts</button>
        </mat-card-actions>
        <div class="h-[1px] w-[585px]  bg-borderColor opacity-10 lg:w-[320px] "></div>
        <div class="flex justify-between items-center px-4">
            <div class="flex justify-center items-center pt-3 gap-2">
                <img class="bg-bgIgmaeColor rounded-full " src="../../../../assets/images/Ellipse 58.png">
                <div class="flex flex-col items-start justify-center ">
                    <p class="w-[109px] h-[26px] pt-[21px] text-textColorPP">Charles Deo</p>
                    <h6 class=" text-textColorPP">15mins ago</h6>

                </div>
            </div>
            <mat-icon>menu</mat-icon>

        </div>
        <div class="flex justify-center items-center pt-[14px] flex-col">
            <img class="flex w-[481px] h-[256px]  lg:w-[500px] lg:rounded-[10px] md:rounded-[10px]"
                src="../../../../assets/images/ll.png">
        </div>
        <div class="flex pt-[21px] h-[481px] gap-[20px]  md:pr-[3px]">
            <p class="text-textColorPP"> Charles Deo</p>
            <p class="font-extralight text-textColorPP"> New Blazer out here... $500!!!!!!</p>
        </div>
        <div class="flex flex-row lg:pl-[50px]  gap-[30px] pb-[30px] md:pr-20">
            <img class="h-[28px] w-[28px]" src="../../../../assets/icons/favorite_border.png">


            <img class="h-[28px] w-[28px]" src="../../../../assets/icons/chat_bubble_outline.png">

        </div>

    </mat-card>
</div>