<div class="container flex justify-center items-center gap-[20px] px-[25px] xl:w-[1150px] lg:w-[790px] md:w-[630px] sm:w-[300px] ">
    <input class="w-[1220px] h-[62px] flex-row rounded-[5px]" id="search-text " aria-describedby="search-text"
        placeholder="          Search" autofocus>

    <div class="flex w-[179px] h-[75px] rounded-full">
        <img class="flex w-[179px] h-[75px] sm:hidden" src="../../../assets/images/small profile.png">

    </div>

</div>

<div class="container flex pt-[20px] px-[20px]  ">
    <mat-card class=" container  h-[450px] w-[1390px] xl:w-[1090px]  lg:w-[740px] md:w-[580px] sm:w-[630px] ">
        <img class="rounded-[5px] " src="../../../assets/images/ll.png">
        <div class=" container flex justify-between absolute pt-[190px]  pl-[56px]  items-end md:w-[420px] md:pr-12 sm:w-[200px]  sm:flex-col  sm:justify-start sm:items-start ">
            <img src="../../../assets/images/profile & name.png">
            <div class="flex gap-4 items-center pr-8 md:flex-col md:gap-7 md:px-20 sm:flex-col ">
                <div class="bg-ppurpleColor rounded-full h-[44px] w-[44px] flex justify-center items-center">
                    <mat-icon class="text-whiteColor text-center " fontIcon="message"></mat-icon>
                </div>
                <button class="bg-ppurpleColor w-[151px] h-[44px] rounded-[10px] text-whiteColor   lg:w-[100px] lg:text-xs md:w-[70px] ">Follow</button>
                <div class="pl-[5px]">
                    <button
                        class=" w-[172px] h-[44px] rounded-[10px] text-ppurpleColor border border-ppurpleColor lg:w-[100px] md:w-[80px] lg:text-xs">Schedule
                        a meeting</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>